Repository lynxplay/ktp, pull requests merged in 2022-01, with the labels that each got.

#11 Add manual totem of undying resurrection API
  patches/api/0007-Add-manual-totem-of-undying-resurrection-API.patch
  patches/server/0006-Add-manual-totem-of-undying-resurrection-API.patch
Labels: feature, api, impl

#12 Expose default #render method on PluginTranslators
  patches/api/0004-Introduce-PluginTranslatableComponent.patch
Labels: api

#13 Add tile state data copying
  patches/api/0008-Add-tile-state-data-copying.patch
  patches/server/0007-Add-tile-state-data-copying.patch
Labels: api, impl, enhancement

#15 Fix rendering of translatable components in console environments
  patches/server/0004-Introduce-PluginTranslatableComponent.patch
Labels: bug, impl
